<div id="logo"><a href="/">MiseriCode</a></div>

<style>
  #logo {
    justify-self: start;
    align-self: center;
    display: flex;
  }
  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
  }
</style>
