<button class="search_bar" aria-label="Open search">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6"></path>
  </svg>
  <span>Search...</span>
</button>

<style>
  button {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 35rem;
    padding: 0.75rem;
    border-radius: 15px;
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    color: inherit;
    font: inherit;
  }
  span {
    margin-left: 1rem;
    opacity: 0.8;
  }
</style>
