---
import SEO from '../components_other/SEO.astro';
import Reset_styles from '../global_styles/Reset_styles.astro';
import Styles from '../global_styles/Styles.astro';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="pl">
  <head>
    <SEO title={title} description={description} image={image} />
    <Reset_styles />
    <Styles />
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  const skeletons = document.querySelectorAll<HTMLElement>('.skeleton');

  skeletons.forEach((el) => {
    const stopAnimation = () => el.classList.add('stopImageAnimation');

    if (el instanceof HTMLImageElement) {
      if (el.complete) {
        stopAnimation();
      } else {
        el.addEventListener('load', stopAnimation);
        el.addEventListener('error', stopAnimation);
      }
    }
  });
</script>
